
extend layout

block content
  h1 Gitnpm
  p Gitnpm takes the power of npm and it's package installing/dependency management and mixes it up with a bit GitHub.
  p It also allows you to install modules from private GitHub repos.